#header .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 8rem;
  
}

#header .navbar .nav-list {
  list-style: none;
  display: flex;
  text-decoration: none;
  
  
}

#header .navbar .nav-toggle {
  display: none;
}

#header .navbar .nav-list .nav-link {
  padding-left: 2rem;
  text-decoration: none;
  color: #777777;
  height: 23px;
  
}

#header .navbar .nav-list .nav-link.active {
  color: black;
}

#header .banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  width: 100%;
}



#header .banner .content {
  width: 30%;
}

#header .banner .content h4 {
  margin-top: 1rem;
  font-weight: 400;
  color: #777777;
}

#header .banner .content button {
  border: none;
  width: 180px;
  height: 40px;
  background-color: rgba(69,143,246,1);
  color: white;
  font-weight: 700;
  margin-top: 1rem;
  border-radius: 55px;
}



#header .banner .header-image {
  width: 50%;
}

#header .banner .header-image img {
  width: 100%;
}

#main-content .caixas {
  display: flex;
  justify-content: space-between;
  padding: 8rem;
  align-items: center;
  width: 100%;
  
}

#main-content .caixas .caixas1 {
  width: 350px;
  height: 354px;
  align-items: center;
  padding: 1rem;
  background-color: rgb(221, 229, 240);
  border-radius: 2rem;
}

#main-content .caixas .caixas1 .fig1 {
  margin-bottom: 5px;
}

#main-content .caixas .caixas1 .fig2 {
  margin-bottom: 10px;
}


#main-content .caixas .box-title {
  color: rgb(0,0,0,1);
  /* padding: 1rem 0; */
  justify-content: center;
  align-items: center;
 
}
#main-content .caixas .box-text {
  width: 261px;
  height: 84px;
  color: rgb(125,121,135,1);

}


/* Breakpoint */
@media (max-width: 768px) {

  #header .navbar {
    padding: 0 2rem;
  }

  #header .navbar .nav-list {
    display: none;
  }

  #header .navbar .nav-toggle {
    display: block;
    font-size: 1.4rem;
  }

  
  #header .banner {

    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }


  #header .banner .content {
    width: 100%;
    margin-top: 1rem;
  }

  #header .banner .content button {
    width: 100%;
  }

  #header .banner .header-image {
    width: 100%;

  }

}